<table class="table">
  <tbody>
    <tr>
      <td>
        <span class="badge rounded d-print-none"
              style="background-color: black;"
             >
          {{ status.name }}
        </span>
      </td>
    </tr>
    </tbody>
</table>
